sudo: required
script:
- sudo docker run --rm -v $(pwd)/:/build/ -w /build/ ubuntu:bionic /bin/bash build.sh
  $TRAVIS_COMMIT $TRAVIS_BRANCH
after_success:
- wget -q https://github.com/probonopd/uploadtool/raw/master/upload.sh
- export UPLOADTOOL_SUFFIX=$(printf $TRAVIS_BRANCH | sed 's/master/stable/')
- bash upload.sh out/*
branches:
  except:
  - "/^(?i:continuous.*)$/"
notifications:
  email: false
